name: Deploy Hugo site to Pages

on:
  push:
    branches: ["main"]

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: true  # 尝试拉取子模块
          fetch-depth: 0    # 拉取完整历史

      - name: Build with Hugo
        run: |
          # 1. 如果 themes 文件夹不存在，就创建一个
          mkdir -p themes
          # 2. 把主题代码直接克隆到 themes/hugo-book 文件夹里
          git clone https://github.com/alex-shpak/hugo-book themes/hugo-book
          # 3. 开始构建
          hugo --minify
          
      - name: Build with Hugo
        # 增加 hugo mod get 这一行，强制它去云端抓主题
        run: |
          hugo mod get github.com/alex-shpak/hugo-book
          hugo --minify

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./public

  deploy:
    needs: build
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - id: deployment
        uses: actions/deploy-pages@v4
